@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }

  .sidebar-nav .navbar li {
    border-bottom: 1px solid darken(@light-grey, 50%);
    display: block;
    float: none;
  }

  .sidebar-nav .navbar li.active {
    background-color: darken(@light-grey, 70%);
  }

  .sidebar-nav .navbar li {
    a {
      padding-bottom: 15px;
      color: @light-grey;
      padding-top: 15px;

      &:hover,
      &:focus {
        background-color: darken(@light-grey, 70%);
      }
    }
  }
}