aside.navigation {
  width: @navbar-width;
  background: #474546;
  position: fixed;
  height: 100%;
  padding: 0 0;
  margin: 0;
  left: 0;
  top: 0;

  .loggeduser {
    background-color: @primary-color;
    color: @secondary-color;

    figure {
      padding: 15px;

      img {
        display: inline-block;
      }

      figcaption {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        vertical-align: middle;
        display: inline-block;
        padding-left: 10px;
        line-height: 73px;
      }
    }

    .actions {
      background-color: darken(@primary-color, 10%);
      text-align: right;
      padding: 10px;

      a {
        color: @secondary-color;
        line-height: 20px;
      }
    }
  }
}