@import "bootstrap";
@import "variables";
@import "tricks";
@import "mixins";
@import "loader";

@import "common/guest";
@import "common/navigation";
@import "common/menu";
@import "common/main";
@import "common/list";
@import "common/panel-tabs";
@import "common/pagination";

@import "pages/permission";

body {
  background-image: url('/assets/img/crossword.png');
  background-color: #ECF0F1;
}

.deployer {
  .form-control {
    border: none;
  }
}

.list-group {
  border-right: none;
  border-left: none;
  margin: 0;

  li {
    border-right: none;
    border-left: none;
    margin: 0;
  }
}